body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 70px;
    color: white;
}

h2{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 25px;
}

.text-align-center{
    text-align: center;
}

span{
    display: block;
}
.margin-bottom-1stSectPara{
    color: rgb(222, 255, 206);
    margin-bottom: 40px;
    font-size: 18px;
}
.margin-top1stPage{
    padding-top:100px ;
}

.donate-button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 14px 20px 14px 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
}

.fistpage-background{
    background-image: url(images/donate3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    margin-top: 0px;
    margin-bottom: 100px;
}

.margin-bottom-2nd-SectPara{
    color: rgb(124, 124, 124);
    margin-bottom:0;
    font-size: 16px;
}

.marginbottom-2nd-section2nd{
    color: rgb(124, 124, 124);
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 40px;
}
.flex-display{
    display: flex;
}

.money-design{
    color: gray;
    background-color: rgb(247, 247, 247);
    margin: 8px;
    padding: 1px 18px 1px 18px;
    font-size: 26px;
    font-weight: 700;
    border-radius: 4px;
}

.money-design2nd{
    color: rgb(248, 59, 59);
    background-color: rgb(255, 207, 207);
    margin: 8px;
    padding: 1px 18px 1px 18px;
    font-size: 26px;
    font-weight: 700;
    border-radius: 4px;
    border: 1.7px solid red;
}
.money-design3rd{
    color: gray;
    background-color: rgb(247, 247, 247);
    margin: 8px;
    padding: 1px 18px 1px 18px;
    font-size: 26px;
    font-weight: 700;
    border-radius: 4px;
}
.money-design4th{
    color: gray;
    background-color: rgb(247, 247, 247);
    margin: 8px;
    padding: 1px 16px 1px 16px;
    font-size: 26px;
    font-weight: 700;
    border-radius: 4px;
}
.money-design5th{
    color: gray;
    background-color: rgb(247, 247, 247);
    margin: 8px;
    padding: 1px 16px 1px 16px;
    font-size: 26px;
    font-weight: 700;
    border-radius: 4px;
}
.money-bordering{
    text-align: center;
    margin-left:27%;
    margin-right: 28%;
    margin-bottom: 50px;

}

.other-amount{
    text-align: center;
    color: rgb(184, 184, 184);
    font-size: 15px;
    margin-bottom: 0;
}

.hr-design{
    margin-left: 300px;
    margin-right: 300px;
    border-top: 1px solid rgb(184, 184, 184);
    margin-bottom: 20px;
}

.margin-2nd-section{
    margin-bottom: 100px;
}

.margin-bottom70px{
    margin-bottom: 55px;
}

h3{
    font-size: 24px;
}
.third-page01{
    background-color: rgb(197, 248, 231);
    margin-left: 100px;
    margin-bottom: 100px;
    padding: 60px 20px 30px 20px;
    border-radius: 7px;
}
.third-page02{
    background-color: rgb(255, 217, 232);
    margin-left: 20px;
    margin-bottom: 100px;
    padding: 60px 20px 30px 20px;
    border-radius: 7px;
}
.third-page03{
    background-color: rgb(252, 255, 216);
    margin-left: 20px;
    margin-bottom: 100px;
    margin-right: 100px;
    padding: 60px 20px 30px 20px;
    border-radius: 7px;
}
.fourth-page-text{
    margin-left: 100px; 
}
.fourth-pageHeading{
    margin-bottom: 0px;
}
.fouth-pagePara{
    margin-top: 20px;
}
.fouth-pagePara2{
    margin-top: 0px;
    margin-bottom: 45px;
}

.fourth-page-img{
    width: 600px;
    height: 475px;
    margin-left: 50px;
    margin-right: 100px;
    border-radius: 7px;
}

h4{
    font-size: 40px;
    font-weight:bolder;
}

.fifth-page-img{
    width: 600px;
    height: 475px;
    margin-left: 100px;
    margin-right: 50px;
    border-radius: 7px;
}
.fifth-page-text{
    margin-right: 100px;
}

input[type=text] {
    border: 0px;
    width: 240px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(219, 219, 219);
    padding: 14px 20px 14px 20px;
    margin-top: 75px;
}
.decoration{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.subscrive-button{
    background-color: tomato;
    margin-top: 75px;
    font-size: 18px;
    padding: 14px 35px 14px 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;   
}

.design-6thPage{
    background-color: antiquewhite;
    margin-left: 20%;
    margin-right: 20%;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 0px 30% 0px 13.8%;
}

h6{
    font-family: 'Alex Brush', cursive;
    font-style: italic;
    color: tomato;
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 15px;
}
footer p{
    color: white;
    text-align: center;
    margin-top: 0px;
}
footer{
    background-color: rgb(7, 7, 26);
    height: 200px;
}